@model IEnumerable<ASS2_158258_2023.Models.HistoryCulture>

@{
    ViewBag.Title = "History and Culture";
}
<link rel="stylesheet" href="~/css/HistoryCulturesStyles.css" />

<div class="container3 ">
    <h2 data-filter-value="category1" class="searchable-item filterable-item">History and Culture</h2>
    <p data-filter-value="category1" class="searchable-item filterable-item">Discover the fascinating history and culture of Tianjin, from its ancient origins to modern developments.</p>
    <p data-filter-value="category1" class="searchable-item filterable-item">Explore the city's museums, art galleries, and historical landmarks.</p>

    <img data-filter-value="category2" class="searchable-item filterable-item" src="~/images/landmark1.jpg" alt="Tianjin History Museum" class="culture-image" width="200" height="150">

    <p data-filter-value="category1" class="searchable-item filterable-item">The Tianjin History Museum is a captivating journey through time. Explore relics from ancient dynasties, archaeological discoveries, and artifacts that tell the stories of early trade and maritime activities in the region.</p>

    <img  data-filter-value="category2" class="searchable-item filterable-item" src="~/images/landmark2.jpg" alt="Historic Architecture in Tianjin" class="culture-image" width="200" height="150">

    <p data-filter-value="category1" class="searchable-item filterable-item">Wander through the historic streets, and you'll encounter a fascinating blend of architectural styles. From Qing Dynasty courtyard houses to European-influenced buildings, Tianjin's architecture reflects its cosmopolitan history.</p>

    <img  data-filter-value="category2" class="searchable-item filterable-item" src="~/images/landmark3.jpg" alt="Tianjin Cultural Festival" class="culture-image" width="200" height="150">

    <p data-filter-value="category1" class="searchable-item filterable-item">Immerse yourself in the city's cultural festivities, including the annual Tianjin Cultural Festival. This event showcases traditional arts, music, dance, and local cuisine, offering a glimpse into the heart of Tianjin's culture.</p>

    <p data-filter-value="category1" class="searchable-item filterable-item">While exploring the city, be sure to savor the flavors of Tianjin's specialty foods. Try the famous "jianbing" street food or indulge in "goubuli baozi," a beloved local treat.</p>

    <p data-filter-value="category1" class="searchable-item filterable-item">As you delve into the history and culture of Tianjin, you'll gain a deeper appreciation for the city's legacy and its vibrant present. Explore its museums, stroll through its ancient streets, and immerse yourself in its cultural celebrations.</p>
</div>
