@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron ">
    <h1  data-filter-value="category1" class="searchable-item filterable-item" >Welcome to <a href="/CityInfo"> Tianjin</a></h1>
    <p  data-filter-value="category1" class="searchable-item filterable-item" >Discover the Beauty and Culture of Our City</p>
    <img   data-filter-value="category2" class="searchable-item filterable-item" src="~/Images/TianJin.jpg" alt="TianJin" width="1000" height="900">
</div>

<div class="row ">
    <div class="col-md-4">
        <h2 data-filter-value="category1" class="searchable-item filterable-item"><a href="/HistoricalCultures">Historical Landmarks</a></h2>
        <p data-filter-value="category1" class="searchable-item filterable-item">Discover the ancient wonders that define our city's history.</p>
        <img  data-filter-value="category2" class="searchable-item filterable-item" src="~/Images/landmark1.jpg" alt="Historical Landmark" width="200" height="150">
    </div>
    <div class="col-md-4">
        <h2 data-filter-value="category1" class=" searchable-item filterable-item"><a href="/SpecialtyFoods">Local Cuisine</a></h2>
        <p data-filter-value="category1" class="searchable-item filterable-item">Savor the flavors of Tianjin with our unique specialty foods.</p>
        <img  data-filter-value="category2" class="searchable-item filterable-item" src="~/Images/food1.jpg" alt="Specialty Food" width="200" height="150">
    </div>
    <div class = "col-md-4">
        <h2 data-filter-value="category1" class="searchable-item filterable-item"><a href="/TouristAttractions">Scenic Beauty</a></h2>
        <p data-filter-value="category1" class="searchable-item filterable-item">Immerse yourself in the natural beauty of our city's landscapes.</p>
        <img  data-filter-value="category2" class="searchable-item filterable-item" src="~/Images/scenery1.jpg" alt="Scenic Beauty" width="200" height="150">
    </div>
</div>