@model IEnumerable<ASS2_158258_2023.Models.CityInfo>

@{
    ViewBag.Title = "City Information";
}
<link rel="stylesheet" href="~/css/CityInfoStyles.css" />

<div class="container2 ">
    <h2 data-sort-value="1" data-filter-value="category1" class="searchable-item filterable-item sortable-item">City Information</h2>
    <p data-sort-value="1" data-filter-value="category1" class=" searchable-item filterable-item sortable-item">Welcome to the City of Tianjin, a vibrant and historic metropolis in China.</p>
    <p data-sort-value="2" data-filter-value="caegory1" class="searchable-item filterable-item sortable-item">Explore the city's rich culture, delicious cuisine, and stunning tourist attractions.</p>

    <!-- 插入一张图片，显示现代城市景观 -->
    <img data-sort-value="2" data-filter-value="category2" class="searchable-item filterable-item sortable-item" src="~/images/scenery1.jpg" alt="Modern Tianjin City" class="city-image" width="200" height="150">

    <p data-sort-value="2" data-filter-value="category1" class="searchable-item filterable-item sortable-item">The city's history dates back to ancient times, and its rich cultural heritage is evident in its historic districts and landmarks.</p>

    <!-- 插入一张图片，展示古老的城市景观 -->
    <img data-sort-value="1" data-filter-value="category2" class="searchable-item filterable-item sortable-item" src="~/images/scenery3.jpg" alt="Ancient Tianjin City" class="city-image" width="200" height="150">

    <p data-sort-value="2" data-filter-value="category1 " class=" searchable-item filterable-item sortable-item">Explore the city's museums, art galleries, and historical landmarks to learn about its fascinating past. Be sure to visit the Tianjin Museum and the Ancient Culture Street.</p>

    <!-- 插入一张图片，显示博物馆或历史文化街景 -->
    <img data-sort-value="1" data-filter-value="category2" class="searchable-item filterable-item sortable-item" src="~/images/landmark2.jpg" alt="Tianjin Museum" class="city-image" width="200" height="150">

    <p data-sort-value="2" data-filter-value="category1" class="searchable-item filterable-item sortable-item">Whether you're interested in history, culture, or modern attractions, Tianjin has something to offer every traveler.</p>
</div>
