@model IEnumerable<ASS2_158258_2023.Models.TouristAttraction>

@{
    ViewBag.Title = "Tourist Attractions";
}
<link rel="stylesheet" href="~/css/TouristAttractionsStyles.css" />

<div class="container5 ">
    <h2 data-filter-value="category1" data-price="10" class="searchable-item filterable-item sortable-item">Tourist Attractions</h2>
    <p data-filter-value="category1"  data-price="15" class="searchable-item filterable-item sortable-item">Explore the must-visit tourist attractions in Tianjin, including the iconic Tianjin Eye, Ancient Culture Street, and more.</p>
    <p data-filter-value="category1" class="searchable-item filterable-item">Plan your itinerary and make the most of your visit to this beautiful city.</p>

    <!-- 插入一张图片，显示景点 -->
    <img  data-filter-value="category2" class="searchable-item filterable-item" src="~/images/scenery1.jpg" alt="Tianjin Eye" class="attraction-image" width="200" height="150">

    <p data-filter-value="category1" class="searchable-item filterable-item">The Tianjin Eye is a remarkable observation wheel that offers panoramic views of the city and Haihe River. It's a popular attraction for tourists seeking breathtaking vistas.</p>

    <!-- 插入一张图片，展示Tianjin Eye景点 -->
    <img  data-filter-value="category2" class="searchable-item filterable-item" src="~/images/scenery2.jpg" alt="Ancient Culture Street" class="attraction-image" width="200" height="150">

    <p data-filter-value="category1" class="searchable-item filterable-item">Stroll through the Ancient Culture Street, a historic area where you can shop for traditional crafts, sample local snacks, and experience the city's rich cultural heritage.</p>

    <!-- 插入一张图片，展示Ancient Culture Street景点 -->
    <img  data-filter-value="category2" class="searchable-item filterable-item" src="~/images/scenery3.jpg" alt="Tianjin Park" class="attraction-image" width="200" height="150">

    <p data-filter-value="category1" class="searchable-item filterable-item">Relax in the green spaces of Tianjin Park, a serene oasis in the heart of the city. It's an ideal place for a leisurely walk, picnics, and enjoying nature.</p>

    <p data-filter-value="category1" class="searchable-item filterable-item">Plan your itinerary and make the most of your visit to this beautiful city by exploring these and other enchanting tourist attractions.</p>
    <img  data-filter-value="category2" class="searchable-item filterable-item" src="~/images/scenery4.jpg" alt="Tianjin Park" class="attraction-image" width="200" height="150">
</div>